# Dependencies
node_modules/

# Database
database/*.db
database/*.db-journal

# Uploads
public/uploads/*

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Test files
test.txt

